<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>

  <body>
    <h1>Instagram Tracker</h1>
    <p>
      Followers: <%= followers %>.<br>
      Likes on most recent: <%= likes %>.<br>
      Comments on most recent: <%= comments %>.<br>
      Number of tags: <%= tags %>.
    </p>
  </body>
</html>
