<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  </head>
  <body>
  <header class="header">
    <div class="container">
      <nav class="menuFlex">
        <div class="menuItem uFontMedium">
          <a>Overview</a>
        </div>
        <div class="menuItem uFontRegular">
          <a>Posts</a>
        </div>
        <div class="menuItem uFontRegular">
          <a>Profile</a>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="jumbotron today">
      <div class="col-sm-8 mx-auto">
        <a name="Home"><h2>Today</h2></a>
        <div class="myflex">
          <div class="flexchild">
            <p class="title uFontRegular">Likes</p>
            <h3 class="uFontRegular">130</h3>
            <p class="change uFontMedium">+75</p>
          </div>
          <div class="flexchild">
            <p class="title uFontRegular">Followers</p>
            <h3 class="uFontRegular">54</h3>
            <p class="change uFontMedium">+14</p>
          </div>
          <div class="flexchild">
            <p class="title uFontRegular">Engagement</p>
            <h3 class="uFontRegular">802</h3>
            <p class="change uFontMedium">+134</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron recommend">
      <div class="col-sm-8 mx-auto">
        <a><h2>Recommendation</h2></a>
        <h1>Best time for you to post is<br>6 - 8pm</h1>
        <p class="centerText">
          <a class="btn btn-primary" href="https://www.instagram.com/" role="button">Post now</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h2>Likes on latest post</h2>
        <p class="uFontRegular">Posted on <span class="blue">Thursday at 6pm</span></p>
        <canvas id="myChart" width="200" height="200"></canvas>
      </div>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>-->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
      <script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="application.js"></script>
  </body>
</html>
<!-- TOMS EJS
<p>Followers: <%= followers.map(follower => follower.username).join(", ") %>.<br>
Likes on most recent: <%= likes.count %>.<br>
Comments on most recent: <%= comments.count %>.<br>
Number of tags: <%= tags %></p>
-->
