.jumbotron{
  margin-top: 10px;
  background-color: white;
  padding: 0px;
  padding-top: 5px;
}

a {
	text-decoration: none;
}

.active {
	text-decoration: underline;
}

body{
	padding-top: 64px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.menuFlex{
	display: flex;
	height: 64px;
	position: fixed;
	background-color: #FD8A1D;
	width: 100%;
	line-height: 64px;
	color: #FFF;
	font-weight: bold;
	top: 0px;
}

.menuItem{
	text-align: center;
	flex: 1 1 100%;
}

.myflex{
	display: flex;
}

.flexchild{
	text-align: center;
	flex: 1 1 100%;
}

.title{
	font-size: 10px;
	margin-bottom: 6px;
}

.today{
	margin-bottom: 0px;
}

.change{
	color: #FD8A1D;
	margin-bottom: 0px;
}

.blue{
	color: #67C3EF;
}

.recommend{
	margin-bottom: 15px;
}

.bg-orange{
  background-color: #FD8A1D;
}

.container{
  padding-left-right: 10px;
}

.btn, .btn:hover {
	display: inline:block;
	border-color: #67C3EF;
	background-color: #FFF;
	border-radius: 18px;
	margin-left: auto;
	margin-right: auto;
}

.centerText{
	text-align: center;
	margin-bottom: 0px;
	margin-top: 12px;
}

.btn-primary, .btn-primary:hover {
	color: #67C3EF;
}

h1{
  font-weight: bolder;
  font-size: 40px;
  color: #FD8A1D;
}

h2{
  font-weight: bolder;
  font-size: 25px;
}

li {
	list-style-type: none;
}
